<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="bunting.carl.deviceinfowidget" android:versionCode="1" android:versionName="1.0">
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">

		<receiver android:name="DeviceInfoWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/deviceinfowidgetprovider" />
		</receiver>
		
		<service android:name="DeviceInfoUpdateService" />
		
		<receiver android:name="bunting.carl.deviceinfowidget.BatteryBroadcastReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BATTERY_CHANGED" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="bunting.carl.deviceinfowidget.NetworkBroadcastReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		
		<activity android:name=".WifiScanner" android:label="@string/app_name">
            
        </activity>

    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-sdk android:minSdkVersion="7" />

</manifest> 